.ssr-only {
  position: absolute;
  opacity: 0;
}

.home {
  position: relative;
  display: flex;
  flex-direction: column;
  height: calc(100dvh - var(--header-height));
  margin-top: var(--header-height);
  font-family: var(--font-geist-sans);
  background-color: var(--background);

  @media (min-width: 1024px) {
    height: 100vh;
    margin-top: 0;
  }
}
