.ssr-only {
  position: absolute;
  opacity: 0;
}

.header {
  position: fixed;
  top: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: var(--header-height);
  background-color: var(--background);
  text-align: center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);

  @media (orientation: landscape) {
    --header-height: 10vh;
  }

  @media (min-width: 1024px) {
    position: relative;
  }
}

.title,
.logo,
.ssr-only {
  max-height: var(--header-height);
}
