.status {
  position: sticky;
  left: 0;
  bottom: 0;

  padding: var(--size-xl) var(--size-xl) var(--size-m);
  background-color: var(--background);
  color: var(--text-primary);
  text-align: center;

  &.minified {
    position: fixed;
    width: 100%;
    background-color: transparent;
    top: calc(50%);
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    height: var(--size-xl);
    padding: 0 var(--size-xl);

    @media (min-width: 1024px), (orientation: landscape) {
      top: auto;
      transform: translate(-50%, 0);
      width: auto;
      height: auto;
      padding: var(--size-xl) var(--size-xl) var(--size-m);
    }

    @media (min-width: 1024px) {
      background-color: var(--background);
    }
  }

  @media (min-width: 1024px) {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    border-radius: var(--radius-s) var(--radius-s) 0 0;
  }
}

.cta {
  display: inline-block;
  padding: var(--size-l);
  margin-bottom: var(--size-l);
  background-color: var(--button-primary);
  color: var(--foreground);
  border: 1px solid var(--foreground);
  border-radius: var(--radius-s);
  text-transform: uppercase;
  transition: background-color 0.3s;

  &:hover {
    background-color: var(--button-primary-hover);
  }

  .minified & {
    margin-bottom: 0;

    @media (min-width: 1024px) {
      margin-bottom: var(--size-l);
    }
  }
}

.matches {
  display: block;
  margin-top: var(--size-m);
}

.highlight {
  font-size: 1.4em;
}

.counter {
  display: none;

  @media (min-width: 1024px) {
    display: block;
  }
}
