.podium {
  background: var(--light);

  &-items {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: var(--size-xl) var(--podium-gap) 0;

    @media (min-width: 1024px) {
      flex-direction: row;
      gap: var(--podium-gap);
      padding: var(--size-xl) var(--podium-gap);
    }
  }

  .gold {
    @media (min-width: 1024px) {
      order: 2;
      zoom: 1.3;
    }
  }

  .silver {
    @media (min-width: 1024px) {
      order: 1;
      zoom: 1.2;
    }
  }

  .bronze {
    @media (min-width: 1024px) {
      order: 3;
    }
  }
}

.item {
  position: relative;
  list-style: none;
  text-align: center;
  transform-origin: 50% 50%;
}

.id {
  position: absolute;
  bottom: calc(100% - var(--size-xl));
  left: 50%;
  transform: translateX(-50%);
  height: var(--size-xl) + var(--size-s);
  padding: var(--size-s) var(--size-xl);
  border-radius: 0 0 var(--radius-m) var(--radius-m);
  background-color: var(--light);
  color: var(--text-primary);
  text-transform: uppercase;
  font-size: 0.9em;

  .remaining & {
    background-color: var(--text-primary);
    color: var(--foreground);
  }
}

.position {
  position: absolute;
  top: var(--size-m);
  left: var(--size-xl);
  transform: translateX(-50%);
  width: var(--size-xxl);
  line-height: var(--size-xxl);
  margin-left: var(--size-m);
  border-radius: var(--size-xl);
  vertical-align: middle;
  color: var(--text-primary);
  background-color: var(--foreground);
  aspect-ratio: 1;
  clip-path: polygon(
    100% 50%,
    75.98% 65%,
    75% 93.3%,
    50% 80%,
    25% 93.3%,
    24.02% 65%,
    0% 50%,
    24.02% 35%,
    25% 6.7%,
    50% 20%,
    75% 6.7%,
    75.98% 35%
  );
}

.pic {
  width: 100vw;
  aspect-ratio: 16/9;
  object-fit: cover;

  @media (min-width: 1024px) {
    width: 100%;
  }
}

.votes {
  position: absolute;
  bottom: var(--size-m);
  right: var(--size-m);
  display: inline-block;
  padding: var(--size-s) var(--size-m);
  background-color: rgba(255, 255, 255, 0.5);
  color: var(--text-primary);
  font-size: 0.8em;

  &-label {
    position: relative;
    display: flex;
    align-items: center;

    &::before {
      content: "";
      display: inline-block;
      margin-right: var(--size-s);
      width: var(--size-xl);
      height: var(--size-xl);
      background: url("/heart.svg") center center no-repeat;
      background-size: 100%;
      pointer-events: none;
    }
  }
}

.other-votes {
  @media (min-width: 1024px) {
    min-height: calc(100vh - var(--header-height) - var(--podium-height));
    padding: 0 var(--podium-gap) var(--podium-gap);
  }
}

.title {
  padding: var(--size-xl);
  text-align: center;

  .podium & {
    color: var(--text-primary);
  }
}

.remaining {
  @media (min-width: 1024px) {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
  }
}

.blank {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 30vh;
}
