.duel {
  display: flex;
  justify-content: space-between;
  height: calc(100vh - var(--header-height));

  &-item {
    position: relative;
    width: 50%;

    &::before {
      opacity: 0;
      transition:
        transform 0.3s,
        opacity 1.5s;
      content: "";
      display: block;
      position: absolute;
      z-index: 1;
      left: 50%;
      top: 50%;
      transform: scale(0.5) translate(-50%, -50%);
      transform-origin: 0% 0%;
      width: 5vw;
      height: 5vw;
      background: var(--background) url("/heart.svg") center center no-repeat;
      background-size: 60%;
      border-radius: 50%;
      pointer-events: none;
    }

    &:hover {
      &::before {
        opacity: 0.5;
        transform: scale(1) translate(-50%, -50%);
      }
    }

    &.test::before {
      background-image: url("/heart-fill.svg");
    }
  }

  &-button {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: none;
    cursor: pointer;

    &-pic {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-view-box: inset(0%);
      transition: all 1s;

      .duel-item:hover & {
        object-view-box: inset(5%);
      }
    }

    &-text {
      opacity: 0;
      transition: opacity 0.5s;

      .duel-item:hover & {
        opacity: 1;
      }
    }
  }
}
